body{
    background-color: chocolate;
    
}
#header1{
    background-color: cornflowerblue;
    width: 250px;
    height: 250px;
    margin:200px auto;
    border-radius: 125px;
    border: outset;
    transition: all 2s;
    
}
#header1:hover
{
    margin: 200px auto;
    background-color: crimson;
    border-radius: 0px;
    transform: rotate(45deg) scale(2);
    
   
    
     
}
table{
    border: 1ps solid black;
}
tr{
    border: 1ps solid black;
}
td{
    border: 1ps solid black;
}